 @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;1,6..96,400;1,6..96,500;1,6..96,600&family=Nanum+Myeongjo:wght@400;800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,500&display=swap');


*{
    padding: 0px;
    margin: 0px;

}

header{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 92.6%;
    height: 15vh;
    background-color:#fff;
    margin-left: 3rem;
    border-bottom: 1px solid burlywood;
}

body{
    width: 100%;
    height:99.9vh;
}

#hamburger{
    display:none;
}

#mobile-search{
    display: none;
}


.logo{
    width: 20%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 15vw;
    height: 10vh;

}

#anchor{
    
}

nav{
    width: 60%;

}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.678);
    font-family: Agency FB;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

li a:hover{
     color:  rgb(247, 185, 105);
    transition:all 0.5s ease 0s;
}

svg { 
    width: 2vw; 

}

.svg{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.svg li:hover{
    cursor:pointer ;
    color:rgb(247, 185, 105);
    transition:all 0.5s ease 0s;
}



/*This is the styling of first section */

.sectionOne{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
}

.sectionOne a{
    grid-column: span 1;
    grid-row: span 1;
    margin-top: 1rem;
    
      
}

.sectionOne a:hover{
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.685);
    transition: all 0.5s ease-in-out 0s;
}

.spaceOne{
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.spaceTwo{
    margin-right: 4rem;
    margin-bottom: 1rem;
}

.contentOne{
    background-image: url("E-SHOP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contentTwo{
    background-image: url("MEDIA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*This is the styling of Second section */

.sectionTwo{
    width: 100%;
    margin-top: 3rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 92%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionOneContent{
    height: 90vh;
    width: 55vw;
    background-image: url("boutiques.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;

}

.sectionTwoContent{
    height: 89.9vh;
    width: 35vw;
    background-color: rgba(128, 128, 128, 0.267);
    border-left: 1px solid white;
}

.sectionTwoContent h1{
    color: rgb(12, 12, 66);
    font-family: Bodoni Moda;
    font-size: 2.5rem;
    padding-top: 8rem;
    padding-left: 4rem;
    letter-spacing: 2px;
}

.sectionTwoContent p{
    padding-top: 2rem;
    padding-left: 4rem;
    font-size: 1.1rem;
    color: rgb(3, 3, 27);
    font-family: calibri;
    line-height: 1.8rem;

}

button{
    height: 8vh;
    width: 15vw;
    background-color: rgb(0, 77, 128);
    border-radius: 50px;
    color: white;
    font-family: Bodoni Moda;
    letter-spacing: 2px;
    padding: 0.2rem;
    border: 0px;
    margin-top: 1rem;
    margin-left: 4rem;
    font-weight: 900;
}

.appointmentButton{
    margin-top: 1rem;
    width: 20vw;
    font-weight: 900;
}

button:hover{
    background-color: rgb(1, 21, 34);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}



/*This is the styling of Third section */
.sectionThree{
    height: 40vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.sectionThree a{
    height: 40vh;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: black;

}


.sectionThree a svg{
    color: rgba(255, 94, 0, 0.671) ;
    height: 10vh;
    width:10vw ;

}

.sectionThree a h2{
    font-family:Lora;
    font-size: 1.5rem;
}

.sectionThree a h2::first-letter{
    font-size: 1.8rem

}

.sectionThree a p{
    font-family:Lora;
    font-size: 0.8rem;
    font-weight: 900;
}

/*This is the styling of Fourth section */

.sectionFour{
    width: 100%;
    margin-top: 3rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionFour .container{
    width: 92%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;



}
.sectionFourLeft{
    width: 50%;
    height: 90vh;
    background-image: url("newsletter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionFourRight{
    width: 50%;
    height: 90vh;
    background-color: rgb(0, 77, 128);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.writeUp, .emailSubmit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    
}

.writeUp svg{
    height: 15vh;
    width: 8vw;

}

:where(.writeUp) :is(h2, h4){
    color: whitesmoke;
    font-family: Arial;
    font-weight: lighter;
    margin: 1rem;
}

.radio{
    color: whitesmoke;
    font-family: Arial;
    font-weight: lighter;

}

input[type="email"]{
    width: 35vw;
    height: 5vh;
    border: 1px solid rgb(243, 242, 242);
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 8px;
    color: whitesmoke;
    font-family: Lora;
    letter-spacing: 1px;
    font-weight: light;
   
}

input[type="email"]:focus{
    background-color: whitesmoke;
    border: 1px solid black;
    color: black;
    outline:0px;
   
}

input[type="email"]::placeholder{
    color: whitesmoke;
    font-family: Lora;   
}

input[type="email"]:focus::placeholder{
    color: black;
    font-family: Lora;   
}

.emailSubmit button{
    width: 25vw;
    background-color: white;
    color: rgb(0, 77, 128);
    font-family: Lora;
    font-size: 1rem;
    margin-left: 0px;
    margin-top: 4rem;


}

.emailSubmit button:hover{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: lighter;
    transition: all 0.4 ease-in-out 0s ;

}


/*This is the styling of Fifth section */

.sectionFive{
    height: 40vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.sectionFive h1{
    color: rgb(12, 12, 12);
    font-family: Lora;
    text-transform: uppercase;
    word-spacing: 0.2rem;
    font-weight: lighter;
}

.footerLinks{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLinks a{
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-family:Calibri;
}

.footerLinks a:hover{
    color:  rgb(247, 185, 105);
    transition: all 0.2s ease 0s;
}

.line{
    width: 90%;
    border: 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
}

.sectionFive p{
    font-size: 0.7rem;
    font-family:Lora;
}


/* This is the css styling for the various section of the Media main page */

#Media-section-one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    width: 100%;
    height: 80vh;
    margin-bottom: 2rem;
}


.media-section-one-left, 
.media-section-one-right{
    grid-column: span 1;
    grid-row: span 1;
    background-color: #fff;
    margin: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 54vh 8vh 8vh 5vh ;
}

.media-section-one-left-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-one-left.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}


.media-section-one-button, 
.media-section-two-button,
.media-section-three-button,
.media-section-four-button,
.media-section-five-button {
    grid-column: span 1;
    grid-row: span 1;
}

.media-section-one-button button, 
.media-section-two-button button,
.media-section-three-button button,
.media-section-four-button button,
.media-section-five-button button{
    width: 10vw;
    height: 5vh;
    margin: 0.8rem 0.2rem;
    background-color: transparent;
    border: 1px solid burlywood;
    color: rgb(92, 34, 7);
    font-family: calibri;
}

.media-section-one-button button:hover{ 
    background-color:rgb(184, 74, 11);
    border: 0px;
    color: whitesmoke;
}

.media-section-one-text, 
.media-section-two-text,
.media-section-three-text,
.media-section-four-text,
.media-section-five-text{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.media-section-one-text a,
.media-section-two-text a,
.media-section-three-text a,
.media-section-four-text a,
.media-section-five-text a{
    color: rgb(2, 2, 37);
    font-size: 1.5rem;
    text-decoration: none;
    font-family: Lora;
    padding-left: 0.5rem;
}


.scales{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: grey;
}

.scales svg{
    padding-left: 0.4rem;
    width: 1.5vw;
}

.media-section-one-right-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-one-right.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}
                          /* This is the styling for the media section two*/

#Media-section-two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr;
    width: 100%;
    height: 60vh;
    margin-bottom: 2rem;

}

.media-section-two-left,
.media-section-two-middle, 
.media-section-two-right{
    grid-column: span 1;
    grid-row: span 1;
    background-color: #fff;
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 34vh 8vh 8vh 5vh ;
}

.media-section-two-left-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-two-left.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}

.media-section-two-middle-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-two-middle.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}

.media-section-two-right-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-two-right.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}

.media-section-two-button button:hover{ 
    background-color:rgb(184, 74, 11);
    border: 0px;
    color: whitesmoke;
}




                    /* This is the styling for the media section Three*/

#Media-section-three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr;
    width: 100%;
    height: 60vh;
    margin-bottom: 2rem;

}

.media-section-three-left,
.media-section-three-middle, 
.media-section-three-right{
    grid-column: span 1;
    grid-row: span 1;
    background-color: #fff;
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 34vh 8vh 8vh 5vh ;
}

.media-section-three-left-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-three-left.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}

.media-section-three-middle-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-three-middle.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}

.media-section-three-right-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-three-right.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}

.media-section-three-button button:hover{ 
    background-color:rgb(184, 74, 11);
    border: 0px;
    color: whitesmoke;
}


    /* This is the styling for the media section Four*/

#Media-section-four{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr;
    width: 100%;
    height: 60vh;
    margin-bottom: 2rem;

}
    
.media-section-four-left,
.media-section-four-middle, 
.media-section-four-right{
    grid-column: span 1;
    grid-row: span 1;
    background-color: #fff;
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 34vh 8vh 8vh 5vh ;
}

.media-section-four-left-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-four-left.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}

.media-section-four-middle-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-four-middle.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}

.media-section-four-right-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-four-right.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}

.media-section-four-button button:hover{ 
    background-color:rgb(184, 74, 11);
    border: 0px;
    color: whitesmoke;
}         


        /* This is the styling for the section five media */

#Media-section-five{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr;
    width: 100%;
    height: 60vh;
    margin-bottom: 2rem;

}
    
.media-section-five-left,
.media-section-five-middle, 
.media-section-five-right{
    grid-column: span 1;
    grid-row: span 1;
    background-color: #fff;
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 34vh 8vh 8vh 5vh ;
}

.media-section-five-left-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-five-left.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}

.media-section-five-middle-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-five-middle.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}

.media-section-five-right-image{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url('media-section-five-right.webp');
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    cursor: pointer;

}

.media-section-five-button button:hover{ 
    background-color:rgb(184, 74, 11);
    border: 0px;
    color: whitesmoke;
}         





                            /*This is the styling of HOVER section for the various links */


/* This is  the styling for the Media MouseOver */
#media{
    display: none;
    height: 10.2vh;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 15vh;
    left: 0vw;
    width: 100%;
    background-color:rgb(247, 185, 105);
}


#media ul{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


#media ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-family: Agency FB;
    font-weight: light;
    font-size: 1.2rem;
}

#media li a:hover{
    transition: all 1   s ease 0s;
    color: rgba(245, 245, 245, 0.692);
}

/* This is  the styling for the Media sub section News MouseOver */

#LinkNewsSection{
    display: none;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 25.2vh;
    left: 0vw;
    width: 100%;
    height: 74.8vh;
    background-color:white;
}

.newsLayout{
    margin-top: 3vh;
    width: 100%;
    height: 50.8vh;
    row-gap: 1rem;
    display: grid;
    grid-template-columns: 17vw 5vw 17vw 5vw 40vw 16vw;
    grid-template-rows:1fr 1fr ;

}

.FirstLink, .SecondLink, .empty{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center  ;

}

:where(.FirstLink, .SecondLink) :is(a){
    color: rgba(37, 37, 37, 0.829);
    text-decoration: none;
    font-size: 1rem;
    align-self: baseline;
    padding-left: 2rem;
    font-family:Lora;
}


:where(.FirstLink, .SecondLink) :is(a:hover){
    color: rgba(15, 13, 13, 0.829);


}

.space{
    grid-column: span 1;
    grid-row: span 2;
}

.NewsImage{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url("Slider\ man.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.NewsImageTwo{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url("Slider\ cloth.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.spaceEnd{
    grid-column: span 1;
    grid-row: span 2;
    border-left: 1px solid rgba(128, 128, 128, 0.527);
}


/* This is  the styling for the Media sub section Style MouseOver */

#StyleTipsSection{
    display: none;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 25.2vh;
    left: 0vw;
    width: 100%;
    height: 74.8vh;
    background-color:#fff;
    overflow: hidden;

}

.StyleLayout{
    margin-top: 3vh;
    width: 100%;
    height: 50.8vh;
    row-gap: 1rem;
    display: grid;
    grid-template-columns: 17vw 5vw 17vw 5vw 40vw 16vw;
    grid-template-rows:1fr 1fr ;

}

.linkOne{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center ;

}

.linkTwo{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center ;

}

:where(.linkOne, .linkTwo, .linkThree, .linkFour) :is(a){
    align-self: baseline;
    padding: 0.4rem;
    text-decoration: none;
    color: rgb(48, 46, 46);
    font-family: Lora;
    font-weight:light;
}

:where(.linkOne, .linkTwo, .linkThree, .linkFour) :is(a:hover){
    transition:all 0.3s ease 0s;
    color: rgb(236, 180, 106);
}


.styleImage{
    grid-column: span 1;
    grid-row: span 1;
    background-image:url('style1.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    margin-right: 1rem;
}

.spaceEndStyle{
    grid-column: span 1;
    grid-row: span 2;
    border-left: 1px solid rgba(128, 128, 128, 0.527);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center ;
    
}

.spaceEndStyle a{
    padding: 0.4rem;
    text-decoration: none;
    color: rgb(48, 46, 46);
    font-family: Lora;
    font-weight:500;
}


.spaceEndStyle a:hover{
    transition:all 0.3s ease 0s;
    color: rgb(236, 180, 106);
}

.linkThree{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content:left;
    flex-direction: column;
    align-items: center ;
}

.linkFour{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center ;
}

.styleImageTwo{
    grid-column: span 1;
    grid-row: span 1;
    background-image:url('style2.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    margin-right: 1rem;
}

/* This is  the styling for the Media sub section All Guides MouseOver */

#allGuidesSection{
    display: none;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 25.2vh;
    left: 0vw;
    width: 100%;
    height: 74.8vh;
    background-color:#fff;
    overflow: hidden;
}

.GuideLayout{
    margin-top: 3vh;
    width: 100%;
    height: 50.8vh;
    row-gap: 1rem;
    display: grid;
    grid-template-columns: 17vw 5vw 17vw 5vw 40vw 16vw;
    grid-template-rows:1fr 1fr ;

}


/* This is  the styling for the Media sub section Trends MouseOver */

#trendsSection{
    display: none;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 25.2vh;
    left: 0vw;
    width: 100%;
    height: 74.8vh;
    background-color:#fff;
    overflow: hidden;

}

.TrendsLayout{
    margin-top: 3vh;
    width: 100%;
    height: 50.8vh;
    row-gap: 1rem;
    display: grid;
    grid-template-columns: 17vw 5vw 17vw 5vw 40vw 16vw;
    grid-template-rows:1fr 1fr ;

}

/* This is  the styling for the Media sub section Fashions MouseOver */

#fashionSection{
    display: none;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 25.2vh;
    left: 0vw;
    width: 100%;
    height: 74.8vh;
    background-color:#fff;
    overflow: hidden;
}

.FashionLayout{
    margin-top: 3vh;
    width: 100%;
    height: 50.8vh;
    row-gap: 1rem;
    display: grid;
    grid-template-columns: 17vw 5vw 17vw 5vw 40vw 16vw;
    grid-template-rows:1fr 1fr ;
}


/* This is  the styling for the E-Shop MouseOver */

#eShop{
    transition: all 1s ease-in-out 0s;
    display: none;
    height: 75vh;
    position:absolute;
    top: 15vh;
    left: 0vw;
    width: 100%;
    background-color:rgb(255, 255, 255);

}

.EshopLayout{
        margin-top: 0vh;
        width: 100%;
        height: 75vh;
        row-gap: 1rem;
        display: grid;
        grid-template-columns: 17vw 5vw 17vw 5vw 40vw 16vw;
        grid-template-rows:1fr 1fr 1fr;
    
}

.linkOneEshop{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center ;

}

.spaceEshop{
    grid-column: span 1;
    grid-row: span 3;

}

.linkTwoEshop{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center ;

}

:where(.linkOneEshop, .linkTwoEshop, .linkThreeEshop, .linkFourEshop) :is(a){
    align-self: baseline;
    padding: 0.4rem;
    text-decoration: none;
    color: rgb(48, 46, 46);
    font-family: Lora;
    font-weight:light;
}

:where(.linkOneEshop, .linkTwoEshop, .linkThreeEshop, .linkFourEshop) :is(a:hover){
    transition:all 0.3s ease 0s;
    color: rgb(236, 180, 106);
}


.styleImageEshop{
    grid-column: span 1;
    grid-row: span 1;
    background-image:url('style1.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    margin-right: 1rem;
}

.spaceEndStyleEshop{
    grid-column: span 1;
    grid-row: span 2;
    border-left: 1px solid rgba(128, 128, 128, 0.527);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center ;
    
}

.spaceEndStyleEshop a{
    padding: 0.4rem;
    text-decoration: none;
    color: rgb(48, 46, 46);
    font-family: Lora;
    font-weight:500;
    
}


.spaceEndStyleEshop a:hover{
    transition:all 0.3s ease 0s;
    color: rgb(236, 180, 106);
}

.linkThreeEshop{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content:left;
    flex-direction: column;
    align-items: center ; 

}

.linkFourEshop{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center ;
}

.styleImageTwoEshop{
    grid-column: span 1;
    grid-row: span 1;
    background-image:url('style2.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    margin-right: 1rem;
}

    


/* This is the css styling for the various section of the Eshop main page */

.Eshop-section-one{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
}

.Eshop-section-one a{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url("Eshop-main.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin:1rem 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    
}

.Eshop-section-one a:hover{
    transition:all 0.5s ease-in-out 0s;
    background-image: url("Eshop-hover.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}


.Eshop-section-one a button{
    margin: 7rem 0rem;
    font-family: Arial;
    
}

.Eshop-section-two{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
}

.Eshop-section-two a{
    grid-column: span 1;
    grid-row: span 1;
    background-image: url("Eshop-two-main.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin:1rem 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    
}

.Eshop-section-two a:hover{
    transition:all 0.5s ease-in-out 0s;
    background-image: url("Eshop-two-hover.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}


.Eshop-section-two a button{
    margin: 7rem 0rem;
    font-family: Arial;
    width: 25vw;
    
}

.Eshop-section-three , .Eshop-section-four{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
}

.Eshop-section-three a, .Eshop-section-four a{
    grid-column: span 1;
    grid-row: span 1;
    margin-top: 1rem;
    
      
}

.Eshop-section-three a:hover{
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.685);
    transition: all 0.5s ease-in-out 0s;
}

.spaceOne{
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.spaceTwo{
    margin-right: 3rem;
    margin-bottom: 1rem;
}

.Eshop-threeContent-one{
    background-image: url("Eshop-three-left.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}

.Eshop-threeContent-two{
    background-image: url("Eshop-three-right.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}



.Eshop-fourContent-one{
    background-image: url("Eshop-four-left.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}

.Eshop-section-four a:hover{
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.685);
    transition: all 0.5s ease-in-out 0s;
}

.Eshop-fourContent-two{
    background-image: url("Eshop-four-right.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.sectionFourLeftEshop{
    width: 100%;
    height: 90vh;
    background-image: url("EshopNewsletter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
































                                /* This is  the styling for the Svg's on click */

/* This is  the styling for the Search on click */
#searchSection{
    display: none;
    height: 15vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 15.2vh;
    left: 0vw;
    background-color:#fff;

}

.searchContent{
    width:90%;
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.searchContent button{
   margin:0px;
   width: 2vw;
   background-color: transparent;
   
}

.searchContent button svg{
    width: 2vw;
    height: 5vh;
    color:black;
   

}

.searchContent input{
    width: 90%;
    height: 5vh;
    border: 0px;
    outline:0px;
    
}

.searchContent input:focus{
  border-bottom:1px solid rgba(0, 0, 0, 0.616);
    
}

.searchContent input::placeholder{
    padding-left: 0.3rem;

}

/* This is  the styling for the Contact-Login on click */
#loginSection{
    display:none;
    height:100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.685);
    position: absolute;
    top: 0px;
    right: 0px;
   

}

.form{
    height:90vh;
    width: 40vw;
    background-color: whitesmoke;
    border-radius:2px ;
}

#closeLogin{
    border: 1px solid burlywood;
    width: 3vw;
    height:5vh ;
    background-color: transparent;
    color: black;
    position: relative;
    left: 30vw;
    top: 0vh;
    
}

#closeLogin:hover{
    background-color: burlywood;
    color:white;
    transition:all 0.4s ease 0s;
}

.form h2{
    padding: 3rem;
    text-align: center;
    font-family: Lora;
    color: rgba(0, 0, 0, 0.822);
}

.form input[type="email"]{
    width: 33vw;
    height: 4vh;
    margin-left: 4vh;
    padding: 0.4rem;
    border: 0px;
    background-color: transparent;
    outline: 0px;
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.644);
    color: rgba(0, 0, 0, 0.76);
    font-family: Calibri;
    font-weight: bold;


}
.form input[type="email"]:focus::placeholder{
    color: inherit;
    background-color: whitesmokehj;
    font-family: Lora;   
}

.form input[type="password"]{
    width: 33vw;
    height: 4vh;
    margin-left: 4vh;
    margin-top: 4vh;
    padding: 0.4rem;
    background-color: transparent;
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.644);
    color: rgba(0, 0, 0, 0.767);
    font-family: Calibri;
    font-weight: bold;

}

.form input::placeholder{
    color: rgba(0, 0, 0, 0.63);
    font-family: Lora;
    font-weight: light;
}

#connect{
    font-family:Lora;
    margin-top:5vh;
    margin-left: 12vw;
    margin-bottom: 2vh;
}

.form a{
    color:grey;
    padding-left:15vw;
    font-family: calibri;
    letter-spacing: 1px;
    
}

.form a:hover{
    color: rgb(165, 71, 42);
}

#option{
    width: 33vw;
    margin-top: 3vh;
    margin-left: 3vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#option hr{
    height:0.000001rem;
    width: 15vw;
   border: 0.000001rem solid rgba(128, 128, 128, 0.219);

}

.socialLogin{
    margin-left:8vw;
    margin-top:4vh;
}

.socialLogin a{
    all: unset;
    padding: 0.5rem;
    margin-left: 3rem;
    border-radius: 50px;
    width:15vw;
    border: 1px solid rgba(224, 110, 57, 0.658);
    cursor:pointer;
    color: rgb(165, 71, 42);
    font-family: calibri;
}

.socialLogin a:hover{
    transition:all 0.7s ease 0s;
    background-color: rgb(165, 71, 42);
    color:whitesmoke;
    border: 1px solid rgb(165, 71, 42);
}

#checkIn{
    margin-left:11vw;
    margin-top: 6vh;
    color:rgb(61, 58, 58);
    font-family:calibri;
}

#checkIn a{
    margin:0px;
    padding-left:4px;
}

/* this is the styling for the cart section*/
#cartSection{
    display:none;
    height:100vh;
    width: 50%;
    background-color: rgb(243, 239, 239);
    position: absolute;
    top: 0px;
    right: 0px;
   

}

.cartHeader{
    height: 10vh;
    background-color: rgb(9, 9, 48);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartHeader h2{
    color:whitesmoke;
    font-family:bodoni moda;
    font-weight: lighter;
    font-size:2rem;
    padding-left: 2rem;

    
}

.cartHeader button{
    width: 3vw;
    height:5vh;
    margin-right: 2vw;
    margin-bottom:2vh;
    border: 2px solid whitesmoke;
    background-color:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartHeader button:hover{
    transition: all 0.5s ease 0s;
    background-color: white;
    color:rgb(9, 9, 48);
}


.hide{
    display:none;
}

.show{
    display:block;
}








/* .index{
    z-index: -1;
 
} */




