 @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;1,6..96,400;1,6..96,500;1,6..96,600&family=Nanum+Myeongjo:wght@400;800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,500&display=swap');


*{
    padding: 0px;
    margin: 0px;

}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 92.6%;
    height: 15vh;
    background-color:#fff;
    margin-left: 3rem;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid burlywood;
}

body{
    width: 100%;
    height:300vh;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 15vw;
    height: 10vh;

}

nav{
    width: 60%;

}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.678);
    font-family: Agency FB;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

li a:hover{
     color:  rgb(247, 185, 105);
    transition:all 0.5s ease 0s;
}

svg { 
    width: 2vw; 

}

.svg{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.svg a{
    color: rgb(17, 16, 16);
    text-decoration: none;
    font-family: Bodoni Moda;
    font-weight: bolder;
}


/*This is the styling of first section */

.sectionOne{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
}

.sectionOne a{
    grid-column: span 1;
    grid-row: span 1;
    margin-top: 1rem;
    
      
}

.sectionOne a:hover{
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.685);
    transition: all 0.5s ease-in-out 0s;
}

.spaceOne{
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.spaceTwo{
    margin-right: 4rem;
    margin-bottom: 1rem;
}

.contentOne{
    background-image: url("E-SHOP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contentTwo{
    background-image: url("MEDIA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*This is the styling of Second section */

.sectionTwo{
    width: 100%;
    margin-top: 3rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 92%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionOneContent{
    height: 90vh;
    width: 55vw;
    background-image: url("boutiques.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain ;

}

.sectionTwoContent{
    height: 89.9vh;
    width: 35vw;
    background-color: rgba(128, 128, 128, 0.267);
    border-left: 1px solid white;
}

.sectionTwoContent h1{
    color: rgb(12, 12, 66);
    font-family: Bodoni Moda;
    font-size: 2.5rem;
    padding-top: 8rem;
    padding-left: 4rem;
    letter-spacing: 2px;
}

.sectionTwoContent p{
    padding-top: 2rem;
    padding-left: 4rem;
    font-size: 1.1rem;
    color: rgb(3, 3, 27);
    font-family: calibri;
    line-height: 1.8rem;

}

button{
    height: 8vh;
    width: 15vw;
    background-color: rgb(0, 77, 128);
    border-radius: 50px;
    color: white;
    font-family: Bodoni Moda;
    letter-spacing: 2px;
    padding: 0.2rem;
    border: 0px;
    margin-top: 1rem;
    margin-left: 4rem;
    font-weight: 900;
}

.appointmentButton{
    margin-top: 1rem;
    width: 20vw;
    font-weight: 900;
}

button:hover{
    background-color: rgb(1, 21, 34);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}



/*This is the styling of Third section */
.sectionThree{
    height: 4 0vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.sectionThree a{
    height: 40vh;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: black;

}


.sectionThree a svg{
    color: rgba(255, 94, 0, 0.671) ;
    height: 10vh;
    width:10vw ;

}

.sectionThree a h2{
    font-family:Lora;
    font-size: 1.5rem;
}

.sectionThree a h2::first-letter{
    font-size: 1.8rem

}

.sectionThree a p{
    font-family:Lora;
    font-size: 0.8rem;
    font-weight: 900;
}

/*This is the styling of Fourth section */

.sectionFour{
    width: 100%;
    margin-top: 3rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionFour .container{
    width: 92%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.sectionFourLeft{
    width: 50%;
    height: 90vh;
    background-image: url("newsletter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionFourRight{
    width: 50%;
    height: 90vh;
    background-color: rgb(0, 77, 128);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.writeUp, .emailSubmit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    
}

.writeUp svg{
    height: 15vh;
    width: 8vw;

}

:where(.writeUp) :is(h2, h4){
    color: whitesmoke;
    font-family: Arial;
    font-weight: lighter;
    margin: 1rem;
}

.radio{
    color: whitesmoke;
    font-family: Arial;
    font-weight: lighter;

}

input[type="email"]{
    width: 35vw;
    height: 5vh;
    border: 1px solid rgb(243, 242, 242);
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 8px;
    color: whitesmoke;
    font-family: Lora;
    letter-spacing: 1px;
    font-weight: light;
   
}

input[type="email"]::placeholder{
    color: whitesmoke;
    font-family: Lora;
   
}

.emailSubmit button{
    width: 25vw;
    background-color: white;
    color: rgb(0, 77, 128);
    font-family: Lora;
    font-size: 1rem;
    margin-left: 0px;
    margin-top: 4rem;


}

.emailSubmit button:hover{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: lighter;
    transition: all 0.4 ease-in-out 0s ;

}


/*This is the styling of Fifth section */

.sectionFive{
    height: 40vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.sectionFive h1{
    color: rgb(12, 12, 12);
    font-family: Lora;
    text-transform: uppercase;
    word-spacing: 0.2rem;
    font-weight: lighter;
}

.footerLinks{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLinks a{
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-family:Calibri;
}

.footerLinks a:hover{
    color:  rgb(247, 185, 105);
    transition: all 0.2s ease 0s;
}

.line{
    width: 90%;
    border: 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
}

.sectionFive p{
    font-size: 0.7rem;
    font-family:Lora;
}


/*This is the styling of HOVER section for the various links */

#media{
    display: none;
    height: 10vh;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 15.2vh;
    left: 3.52vw;
    width: 92.6%;
    background-color:rgb(247, 185, 105);
}

.MediaLinks{
    width: 70%;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.MediaLinks a{
    color: whitesmoke;
    text-decoration: none;
    font-family: Agency FB;
    font-weight: light;
    font-size: 1.2rem;
}

.MediaLinks a:hover{
    transition: all 1   s ease 0s;
    color: rgba(245, 245, 245, 0.692);
}

#eShop{
    transition: all 1s ease-in-out 0s;
    display: none;
    height: 75vh;
    position:absolute;
    top: 15vh;
    left: 0vw;
    width: 100%;
    background-color:rgb(247, 185, 105);

}



/* .index{
    z-index: -1;
 
} */




