@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;1,6..96,400;1,6..96,500;1,6..96,600&family=Nanum+Myeongjo:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,500&display=swap');

@media screen and (max-width: 770px) {

    header{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0px;
        width:100%;
        border: 0px;
    }

    #hamburger{
        display: block;
        background-color: transparent;
        color: black;
        cursor: pointer;
        width: 10vw;
        margin:0rem 1rem;
 
    
    }

    #hamburger svg{
        width: 6vh;
        padding:0px;

    }
    
    .logo a img{
        width: 45vw;
        
    
    }

    #anchor{
        display: none;
        position:absolute;
        top: 12vh;
        left: 0px;
        width: 100%;
    }

    #anchor ul {
        width: 100%;
        height:44.2vh;
        display: block;
        background-color: #0c0b0b;    

    }

    #anchor ul li{
        width: 100%;
        border-bottom:1px solid rgb(255, 255, 255);
        text-align: center; 
        padding: 1.26rem 0rem;

    }

    li a{
        width: 100%;
        color:#fff;
        
       
    }

    #search, #location, #login{
        display: none;

    }

    ul svg{
        width: 5vh;
        margin: 0rem;

    }

    .svg{
        width: 8%;
        margin-right: 1.5rem;
    }

    #cartSection{
        width: 100%;
    }

    .cartHeader button{
        width: 5vw;
        height:7vh;
        margin-right: 4vw;
    }

    .cartHeader button svg{
        width: 8vw;
        height:5vh;
    }

    #mobile-search{
        display: flex;  
        height: 10vh;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color:#fff;
       
    }

    #mobile-search input{
        width: 75%;
        height: 5vh;
        border: 0px;
        border-bottom:1px solid rgba(0, 0, 0, 0.616);
        outline:0px;
        
    }
    
    #mobile-search input:focus{
      border-bottom:1px solid rgba(0, 0, 0, 0.616);
        
    }
    
    #mobile-search input::placeholder{
        padding-left: 0.3rem;
    
    }

    #mobile-search button{
        margin:15px;
        width: 5vw;
        background-color: transparent;
        
     }
     
     #mobile-search button svg{
         width: 8vw;
         height: 5vh;
         color:black;
        
     
     }

     #media, #eShop{
        height: 0px;
        position:absolute;
        top: 27vh;
        left: 0vw;
        width: 0%;
        /* all: unset; */

        
     }

     #LinkNews,  #StyleTips, #allGuides, #trends, #fashions, #videos{
        display: none;
     }

     .EshopLayout{
        display: none;
     }

     
     .sectionOne{
        height: 200vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
     }

     .spaceOne, .spaceTwo{
       margin: 2rem;
     }

     .sectionTwo{
        width: 91%;
        margin-top:0px;
        height: 170vh;
        margin: 2rem;
     }

     .container{
        width: 100%;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sectionOneContent{
        height: 100vh;
        width: 100%;
    }

    .sectionTwoContent{
        width: 100%;
        height: 70vh;
        border: 0px;
    }

    .sectionTwoContent h1{
        padding-top: 2rem;
        padding-left: 0rem;
        text-align:center;
        font-size: 2rem;

    }

    .sectionTwoContent p{
        text-align: center;
        font-size: 1.2rem;
        padding-left: 5px;
    
    }

    #Space-Button{
        margin-left: 16rem;
    }

    button{
        width: 25vw;
        margin-left: 25vw;

    }

    .appointmentButton{
        width: 40vw;

    }

    .sectionThree{
        height: 30vh;
        width: 91%;
        margin: 2rem;

    }

    /* .sectionThree:nth-child(4){
        display: none;
        background-color: red;
    } */

    .sectionThree a{
        height: 17vh;
        width: 20vw;
    
    }

    .sectonThree a span{
        padding: 0px;
    }

    .sectionThree a svg{
        color: rgba(255, 94, 0, 0.671) ;
        height: 5vh;
        width:5vw ;
    
    }
    
    .sectionThree a h2{
        font-family:Lora;
        font-size: 0.5rem;
    }
    
    .sectionThree a h2::first-letter{
        font-size: 1rem
    
    }
    
    .sectionThree a p{
        font-family:Lora;
        font-size: 0.3rem;
        font-weight: 900;
    }

    .sectionFour{
        margin-top: 2rem;
        height: 180vh;
        width: 91%;
        margin: 2rem;

    }

    .sectionFour .container{
        width: 100%;
        height: 180vh;
        flex-direction: column;
    }

    .sectionFourLeft{
        width: 100%;
        height: 90vh;
    }
    
    .sectionFourRight{
        width: 100%;
        height: 90vh;
    }

    :where(.writeUp) :is(h2, h4){
        color: whitesmoke;
        font-family: Arial;
        font-weight: lighter;
        margin: 1rem;
        text-align: center;
    }

    input[type="email"]{
        width:55vw;   
    }

    .emailSubmit button{
        width: 35vw;
    }

    .sectionFive h1{
        font-size: 1rem;
    }

    .footerLinks{
        width: 80%;

    }

    .sectionFive p{
        font-size: 0.5rem;
        text-align: center;
    }   

    /*This is the styling for the Eshop layout */


    .Eshop-section-one a{
        margin:1rem 1rem;
    
    }

    .Eshop-section-two a{
        background-image: url("Eshop-two-hover.webp");
        margin:1rem 1rem;
    
    }

    .Eshop-section-two a button{
        margin: 7rem 0rem;
        font-family: Arial;
        width: 45vw;
        text-align: center;
        
    }

    .Eshop-section-three , .Eshop-section-four{
        height: 200vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }

    .Eshop-threeContent-one, .Eshop-fourContent-one{
        margin-right:1rem;
    }

    .spaceOne{
        margin-left: 1rem;   
        margin-bottom: 0rem;
    }
    
    .spaceTwo{
        margin-right: 1rem;
        margin-left: 1rem;
       
    }

    .hide{
        display:none;
    }

}



@media screen and (max-width: 430px) {
    #cartSection{
        width: 100%;
    }

    .cartHeader button{
        width: 8vw;
        height:5vh;
        margin-right: 4vw;
    }

    .cartHeader button svg{
        width: 8vw;
        height:5vh;
    }

    #mobile-search button{
        margin:10px;

        
     }

     #mobile-search input{
        width: 65%;
        
    }

    .sectionTwo{
        width:85%;
    }

    .sectionOneContent{
        height: 95vh;
    }

    .sectionTwoContent{
        height: 75vh;
    }

    .sectionTwoContent h1{
        padding-top: 2rem;
        padding-left: 0rem;
        font-size: 1.5rem;
        text-align:center;

    }
    .sectionTwoContent p{
        text-align: center;
        font-size: 1rem;
        padding-left: 5px;
    
    }

    #Space-Button{
        margin-left: 6rem;
    }

    button{
        width: 35vw;
        margin-left: 11vw;

    }

    .appointmentButton{
        width: 65vw;

    }

    .sectionThree{
        margin: 1rem;

    }
    .sectionThree a{
        height: 20vh;
        width: 20vw;
        gap: 1rem;
    
    }
  
    .sectionThree a h2{
        font-size: 0.3rem;
    }
    
    .sectionThree a h2::first-letter{
        font-size: 0.6rem;
    
    }
    
    .sectionThree a p{
        text-align: center;
        font-size: 0.35rem;
        font-weight: 500;
    }
 
    .sectionFour{
        margin-top: 2rem;
        height: 180vh;
        width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;

    }

    .sectionFive h1{
        text-align: center;
    }



 
}