 @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;1,6..96,400;1,6..96,500;1,6..96,600&family=Nanum+Myeongjo:wght@400;800&display=swap');



*{
    padding: 0px;
    margin: 0px;

}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 92.6%;
    height: 15vh;
    background-color:#fff;
    margin-left: 3rem;
    position: sticky;
    top: 0px;
}

body{
    width: 100%;
    height:300vh;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 15vw;
    height: 10vh;

}

nav{
    width: 60%;

}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.678);
}

svg { 
    width: 2vw; 

}

.svg{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.svg a{
    color: rgb(17, 16, 16);
    text-decoration: none;
    font-family: Bodoni Moda;
    font-weight: bolder;
}


/*This is the styling of first section */

.sectionOne{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
}

.sectionOne a{
    grid-column: span 1;
    grid-row: span 1;
    margin-top: 1rem;
    
      
}

.sectionOne a:hover{
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.685);
    transition: all 0.5s ease-in-out 0s;
}

.spaceOne{
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.spaceTwo{
    margin-right: 4rem;
    margin-bottom: 1rem;
}

.contentOne{
    background-image: url("/Images/E-SHOP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contentTwo{
    background-image: url("/Images/MEDIA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*This is the styling of Second section */

.sectionTwo{
    width: 100%;
    margin-top: 3rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 92%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionOneContent{
    height: 90vh;
    width: 55vw;
    background-image: url("/Images/boutiques.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain ;

}

.sectionTwoContent{
    height: 89.9vh;
    width: 35vw;
    background-color: rgba(128, 128, 128, 0.267);
    border-left: 1px solid white;
}

.sectionTwoContent h1{
    color: rgb(12, 12, 66);
    font-family: Bodoni Moda;
    font-size: 2.5rem;
    padding-top: 8rem;
    padding-left: 4rem;
    letter-spacing: 2px;
}

.sectionTwoContent p{
    padding-top: 2rem;
    padding-left: 4rem;
    font-size: 1.1rem;
    color: rgb(3, 3, 27);
    font-family: calibri;
    line-height: 1.8rem;

}

button{
    height: 8vh;
    width: 15vw;
    background-color: rgba(3, 3, 172, 0.767);
    border-radius: 50px;
    color: white;
    font-family: Bodoni Moda;
    letter-spacing: 2px;
    padding: 0.2rem;
    border: 0px;
    margin-top: 1rem;
    margin-left: 4rem;
    font-weight: 900;
}

.appointmentButton{
    margin-top: 1rem;
    width: 20vw;
    font-weight: 900;
}

button:hover{
    background-color: rgb(3, 3, 27);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}